/* styling for home page header */
.header{
  position: relative;
  display: block;
}
.sticky-top{
    position: sticky;
}
.hdr-wrap{
  position: relative;
}
.title-wrap{
  display: block;
  height: 550px;
  position: relative;
  width: 100%;
  z-index: 0;
}
/* img.img-src{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    width: 100%;
    height: 622px;
} */
h3{
  color: black;
}
.content{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
}
.text-content{
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}
.caption-fade-in{
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 55px;
  left:0;
  visibility: visible;
  opacity: 1;
  text-align: center;
  font-size: 24px;
  line-height: 1;
  color: #fff;
}
.caption-fade-in h1{
  font-weight: 900;
  font-size: 96px;
  line-height: 1;
}
.main-logo2{
  display: none;
}

a.nav-link{
  font-size: 20px;
}
a:hover, a:active{
  color: #17a2b8 !important;
  text-decoration: underline !important;
}
a, i{
  color: #17a2b8;
}
.rainbow-header{
  background-image: url(/assets/images/rainbowheader.jpg);
  background-size: 100%;
  height: 5px;
  width: 100%;
  position: relative;
  z-index: 1;
}
.main-container{
  width: 875px;
  margin: auto;
}
#posts{
  width: 600px;
}
.btn.btn-outline-info{
  margin-left: 5px;
}
.triangle {
  align-items: center;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #17a2b8;
}
.fa{
  color: white;
}
.text-center{
  margin: auto;
}
.top-page {
  display: inline-block;
  margin-left: -8px;
  margin-top: 15px;
}
.copy-right{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
footer{
/* position: relative; */
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}
#MRRI{
  color: #17a2b8 !important;
}
.row.row-footer{
  margin-right: 0;
  margin-left: 0;
}
@media screen and (min-width: 991px){
  #contact-form{
    width: 650px;
    margin: auto;
  }
  .main-logo2{
    display: none;
  }
  .main-logo1{
    display: block;
    margin: auto;
    width: 873px;
    height: 300px;
  }
  .main-container{
    width: 850px;
    margin: auto;
  }
  div.animated, h3.animated, a.nav-link.animated{
    animation-delay: 2s;
  }
}
@media screen and (max-width: 850px){
  #contact-form{
    width: 650px;
    margin: auto;
  }
  .main-logo2{
    display: none;
  }
  .main-logo1{
    display: block;
    margin: auto;
    width: 673px;
    height: 229px;
  }
  .main-container{
    width: 550px;
    margin: auto;
  }
  h3{
    font-size: 1.25rem !important;
  }
  .col-sm-4, .col-sm-8{
    padding: 0 !important;
  }
  img.rounded-circle{
    width: 180px;
    height: 180px;
  }
}
@media screen and (max-width: 700px){
  #contact-form{
    width: 550px;
    margin: auto;
  }
  .main-logo1{
    display: none;
  }
  .main-logo2{
    display: block;
    margin: auto;
  }
  .main-container{
    width: 550px;
    margin: auto;
  }
  h3{
    font-size: 1.25rem !important;
  }
  .col-sm-4, .col-sm-8{
    padding: 0 !important;
  }
}
@media screen and (max-width: 500px){
  #contact-form{
    width: 300px;
    margin: auto;
  }
  .main-logo1{
    display: none;
  }
  .main-logo2{
    display: block;
    margin: auto;
  }
  .main-container{
    width: 350px;
    margin: auto;
  }
  h3{
    font-size: 1rem !important;
  }
  a.nav-link{
    font-size: 15px;
  }

}
